:root {
  --ifm-color-primary: #203864;
  --ifm-color-primary-dark: #1c3159;
  --ifm-color-primary-darker: #1a2e54;
  --ifm-color-primary-darkest: #152645;
  --ifm-color-primary-light: #243f6f;
  --ifm-color-primary-lighter: #264274;
  --ifm-color-primary-lightest: #2b4983;
  --ifm-code-font-size: 90%;
}

[data-theme='dark'] {
  --ifm-color-primary: #7f9cd6;
}

table {
  display: table;
  width: 100%;
}
